---
import "../styles/global.css";
import Footer from '../components/Footer.astro';
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | QuollSec` : 'QuollSec'}</title>
    {description && <meta name="description" content={description} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
  
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <main>
        <slot />
        <Footer />
      </main>
    </div>
  </body>
</html>